.lists {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 2;
}

.lists li a {
  color: var(--text-clr-4);
  transition: 0.4s ease-out;
  position: relative;
}

.lists--header li a:hover {
  color: var(--primary-clr);
}
.lists--footer li a:hover {
  color: var(--white-clr);
}

.lists--header li a.active {
  color: var(--primary-clr);
  font-weight: 600;
}
.lists--footer li a.active {
  color: var(--white-clr);
  font-weight: 600;
}

.lists--header li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1875rem;
  background-color: var(--primary-clr);
  transform: translateY(59px);
  transition: 0.4s ease-out;
}

.lists li a:hover::before {
  width: 100%;
}

.lists li a.active::before {
  width: 100%;
}

.show {
  display: flex;
}
.hide {
  display: none;
}

/* Responsive Styles */
@media screen and (min-width: 1024px) {
  .lists {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .lists {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white-clr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
    width: 12rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 2.8rem;
    right: 1.5rem;
    animation: menuAnimation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @keyframes menuAnimation {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }

  .lists--header li a::before {
    height: 0.15rem;
    border-radius: 5px;
    transform: translateY(20px);
  }
  .lists li a {
    font-weight: 500;
  }
}
