.ex-card {
  display: flex;
  gap: 0.75rem;
}
.ex-card__left {
  width: 12.5rem;
}
.ex-card__left-title {
  color: var(--primary-clr);
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.ex-card__left-time {
  color: var(--text-clr-4);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.ex-card__right {
  max-width: 25.25rem;
}
.ex-card__right-title {
  color: var(--text-clr-1);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.ex-card__right-desc {
  color: var(--text-clr-3);
  line-height: 1.5rem;
  margin-top: 0.75rem;
}

@media screen and (max-width: 425px) {
  .ex-card {
    gap: 0;
    flex-direction: column;
  }
  .ex-card__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
