.about__container {
  padding-block: 6.25rem;
  background-color: #f0f1f3;
}
.about {
  display: flex;
  align-items: center;
  gap: 6.25rem;
}
.about__image {
  max-width: 35.625rem;
  max-height: 31.25rem;
  border-radius: 0.75rem;
  object-fit: cover;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.about__desc {
  color: var(--text-clr-2);
  line-height: 1.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .about {
    gap: 3rem;
  }
  .about__image {
    max-width: 26rem;
    max-height: auto;
  }
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    gap: 5rem;
  }
  .about__image {
    width: 100%;
  }
  .about__content {
    align-items: stretch;
  }
}
