.nav {
  padding-block: 1.5rem;
}
.header {
  background-color: var(--white-clr);
}
.footer {
  background-color: transparent;
  padding-block: 0;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.nav__bar--footer {
  padding-inline: 0;
}
hr {
  border: 0;
  border-top: 1px solid #2b384c;
}
.nav__bar-menu {
  font-size: 2rem;
  color: var(--primary-clr);
  display: none;
}
.nav__bar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav__bar {
    position: relative;
  }
  .nav__bar-menu {
    display: block;
  }
}
