.nav {
  padding: 1.5rem;
}
.header {
  background-color: var(--white-clr);
}
.footer {
  background-color: transparent;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
