.contact {
  padding-block: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.contact-info,
.book-appointment {
  max-width: 33.5rem;
}
.contact__desc {
  color: var(--text-clr-2);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-block: 1.5rem 2.5rem;
}
.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Info card style */
.info-card {
  padding: 2rem;
  background-color: var(--secondary-clr-100);
  display: flex;
  gap: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.25s linear;
}
.info-card:hover {
  transform: scale(1.03) rotate(-2deg);
}
.info-card__icon {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: contain;
}
.info-card__content {
  color: var(--text-clr-1);
}
.info-card__content-text {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
}
.info-card__content-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 0.5rem;
  transition: color 0.25s ease-out;
}
.info-card:hover .info-card__content-title {
  color: var(--primary-clr);
}
/* book-appointment */
/* .book-appointment {
} */
.book-appointment__desc {
  color: var(--text-clr-2);
  line-height: 1.5rem;
  margin-block: 0.75rem 2.25rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }
}
