.icon__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon__link {
  padding: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.icon__link--header {
  background-color: var(--primary-clr-50);
  color: var(--primary-clr);
}
.icon__link--header:hover {
  background-color: #2b384c;
  color: #fff;
}
.icon__link--footer {
  background-color: #2b384c;
  color: #fff;
}
.icon__link--footer:hover {
  background-color: var(--primary-clr-50);
  color: var(--primary-clr);
}

@media screen and (max-width: 768px) {
  .icon__wrapper {
    display: none;
  }

  .icon__wrapper--footer {
    display: flex;
  }
}
