@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

:root {
  --primary-clr: #1777e5;
  --primary-clr-50: #e8f1fc;
  --secondary-clr-50: #fffbe8;
  --secondary-clr-100: #fff7d1;
  --white-clr: #ffffff;
  --text-clr-1: #132238;
  --text-clr-2: #424e60;
  --text-clr-3: #556070;
  --text-clr-4: #697484;
  --gray-clr-900: #121314;
  --gray-clr-500: #5e6971;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}
